rhvm_username: user
rhvm_password: password
rhvm_url: https://rhvm.example.com/ovirt-engine/api
ups:
 - 192.168.1.254 # UPS to monitor
#Optional
# protected_vms: #These VMs will not be powered down when all other VMs are
#   - HostedEngine #default protected VM
# monitor_frequency: 60 # Default polling value to check if UPS is on battery